.aboutImage {
    max-width: 100%;
    min-height: 100%;
}

.main.About article {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 3em;

}

.main.About article h3 {
    font-size: 1.3em;
}

    .intro {
        grid-row: 1;
        grid-column: 2 / 4;

        
        font-family: 'Biryani', sans-serif;   
        padding: 5em;
        background-color: var(--bg);
        /* box-shadow: 3em 0em 1px var(--card-1); */
    }

        .intro h1 {
            font-size: 3em;
        }

        .intro p {
            line-height: 1.7;
        }
    
    .linesImg {
        grid-row: 2;
        grid-column: 1;
    }

        .linesImg img {
            max-width: 100%;
        }

    .tldr {
        grid-row: 2;
        grid-column: 2 / 4;

        margin-top: 7%;
        margin-bottom: 12%;
        display: grid;
        place-items: center;
    }
        .tldr h3 {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            font-size: 4.5em !important;
            font-style: italic;
        }
        .tldr p {
            margin-top: 0em;
            margin-bottom: 0;
            margin-left: 0em;
            width: 90%;
        }

    .technicalSkills {
        grid-row: 3;
        grid-column: 1;

        display: grid;
        grid-template-rows: 5% 5% auto 5% auto 5%;
    }

        .technicalSkills p {
            display: grid;
            grid-template-columns:  1fr 1fr;
        }

        .technicalSkills h3 {
            grid-row: 1;
            grid-column: 1;
        }

        .technicalSkills h5.a {
            grid-row: 2;
            grid-column: 1;
        }

        .technicalSkills p.a {
            grid-row: 3;
            grid-column: 1;
        }
        .technicalSkills h5.b {
            grid-row: 4;
            grid-column: 1;
        }

        .technicalSkills p.b {
            grid-row: 5;
            grid-column: 1;
        }

        .technicalSkills span {
            font-weight: 800;
            display: block;
            text-align: center;
            padding: .4em .9em;
            margin: 1em;
            line-height: 1.9;
            font-family: 'Biryani', sans-serif !important; 
            border-bottom: solid 1em var(--card-1);
            background-color: #1b1f3a;
            border-radius: 15px;
        }

        .technicalSkills span:hover {
            color: var(--highlight);
            font-style: italic;
            cursor: pointer;
        }

        .technicalSkills span::first-letter {
            font-weight: 800;
            color: var(--highlight);
            font-size: 2em !important; 
        }

    .experience {
        grid-row: 3;
        grid-column: 2 / 4;

        display: grid;
        place-items: center;
    }

        .experience h3 {
            grid-row: 1;
            grid-column: 1 / 3; 
        }
        .jobs {
            grid-row: 2;
            grid-column: 1 / 3; 
        }

            .jobInner {
                display: grid;
                grid-template-columns: 33% 1fr;
                margin-bottom: 2.5em;
                border-left: solid 1em var(--card-2);
            }

                .jobTitleDiv {
                    grid-row: 1 / 3;
                    grid-column: 1;

                    padding: 1em;
                }

                    .job.Company {
                        color: var(--white);
                    }

                    .job::before {
                        content: ">";
                        color: var(--card-1-dark);
                        font-size: 2em;
                        margin:0 .5em 0 0em;
                    }


                .jobDescription {
                    grid-row: 1 / 3;
                    grid-column: 2;

                    align-self: center;
                    justify-self: center;
                    line-height: 2;
                    width: 75%;
                    margin-bottom: 2em;
                }

                    .jobDescription h5 {
                        text-align: center;
                    }

                .jobProjects {
                    grid-row: 3 / 5;
                    grid-column: 1 / 3;

                    align-self: center;
                    justify-self: center;
                    width: 75%;
                    margin-bottom: 2em;
                }

                    .jobProjects h5 {
                        text-align: center;
                    }




        .otherExperience {
            grid-row: 3;
            grid-column: 1 / 3; 
        }
        caption {
            text-align: center;
            width: 100%;
            margin-bottom: 1em;
            font-weight: 800;
        }

        th {
            color: var(--card-1);
            font-family: 'Biryani', sans-serif !important;
        }

        tr, td {
            font-size: .95em;
            padding: .75em;
            font-family: 'Biryani', sans-serif !important;
        }

    .education {
        grid-row: 4;
        grid-column: 1 / 4;

        display: grid;
        place-items: center;
    }
        .education h3 {
            grid-row: 1;
            grid-column: 1 / 3;
        }

        div .a {
            grid-row: 2;
            grid-column: 1;
        }
        div .b {
            grid-row: 2;
            grid-column: 2;
        }

        