#root, body {
    margin: 0;
}



/* COLORS */

:root {
    --light-shade:   #F4F9F4;
    --light-accent:  #A7D7C5;
    --main-color:    #75A7BA;
    --dark-accent:   #5C8D89;
    --dark-shade:    #365E59;


    --font-1: 'Poppins', sans-serif;
    --font-2: 'El Messiri', sans-serif;
    --dark-text: #333;
    

    --box-shadow:
        0 19.8px 5px rgba(0, 0, 0, 0.019),
        0 32px 17.6px rgba(0, 0, 0, 0.028),
        0 44.7px 38.4px rgba(0, 0, 0, 0.035),
        0 62.2px 62.7px rgba(0, 0, 0, 0.046),
        0 112px 76px rgba(0, 0, 0, 0.08)
    ;

    --border-radius-small: .85em;
    --border-radius-large: .85em;
}


::selection {
    background: #A7D7C5; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #A7D7C5; /* Gecko Browsers */
  }

html { background-color: var(--dark-shade);}
.headerText {background:linear-gradient(90deg, rgba(54,94,89,1) 0%, rgba(54,94,89,1) 68%, rgba(54,94,89,0.9640056706276261) 76%, rgba(54,94,89,0.767927239255077) 84%, rgba(54,94,89,0.4822129535407913) 88%, rgba(54,94,89,0.35896365382090334) 93%, rgba(54,94,89,0) 100%);}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-rendering: optimizeLegibility;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1000 - 300)));
    font-family: var(--font-1);
    font-weight: 300;
}

p {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, caption {
    font-family: var(--font-1);
    font-weight: bold;
}

body {
    height: 100%;
    color: var(--dark-text);
  }

  .MainPage {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
      width: 100%;
  }


    .intro {
        grid-row: 1;
        grid-column: 1 / 3;

        height: 95vh;        
        background: url("https://res.cloudinary.com/dz3p8xcr8/image/upload/v1594576380/Portfolio/5430315134833289010_oyfhie.jpg") no-repeat,
                    url("https://res.cloudinary.com/dz3p8xcr8/image/upload/v1595908577/Portfolio/Rectangle_26_tp1vo1.png");
        background-repeat: none;
        background-size: 100%;
        background-position-x: 500px;
        background-position-y: 43%;
        background-blend-mode: soft-light;
    }

    
    nav {
        position: fixed;
        width: 100%;
    }

        .navInnerCon {
            display: grid;
            place-items: center;
            grid-template-columns: 9.5% 1fr 1fr 1fr 1fr;
            padding: 1em;
        }
            button {
                color: var(--light-shade); 
                font-family: var(--font-1);
                border: none;
                background: none;
                font-size: 1em;
                height: 100%;
                display: grid;
                place-items: center;
                cursor: pointer;
                outline: none;
            }

            .L {
                padding: 0 1.5em;
            }

            .contactButtonB {
                color: var(--light-shade);
                background-color: var(--main-color);
                border: .2em solid #91b2be;
                border-radius: var(--border-radius-small);
                box-shadow: var(--box-shadow);
                padding: .9em 1.5em;
                font-weight: 700;
            }
        nav :hover {
            background-color: var(--dark-shade);
        }
        
        .contactButtonB:hover {
            background-color: var(--light-shade);
            color: var(--main-color);
            border: .2em solid #91b2be;
            border-radius: var(--border-radius-small);
        }

            .contactButtonB:active {
                padding: .9em 1.35em;
            } 


        .L:hover {
            background-color: var(--light-accent);
            color: var(--light-shade);
            box-shadow: var(--box-shadow); 
            border: .2em solid #91b2be;
            border-radius: var(--border-radius-small);
        }

        .navInnerCon :active {
            font-weight: 700;
        }

        .home :hover ::before {
            content: "&uarr;";
        }

    .headerText {
            width: 70%;
            height: 100%;
            display: grid;
            place-items: center;
        }
            .textDiv {
                background-color: var(--light-shade);
                color: #333;
                border-radius: var(--border-radius-small);
                width: 60%;
                height: 70%;
                display: grid;
                grid-template-columns: 5% 1fr 5%;
                grid-template-rows: 80% auto ;
                margin-right: 5em;
                box-shadow: var(--box-shadow);
            }

            .textWrapper {
                grid-row: 1;
                grid-column: 2;
                padding-top: 1em;
            }

            .buttonDiv {
                grid-row: 2;
                grid-column: 2;
                justify-self: end;
                align-self: center;
                margin-right: 5em;
            }
                .contactButtonA {
                    color: var(--dark-shade);
                    font-weight: 700;

                    padding: .9em 1.5em;
                    font-size: 1.1em;
                    cursor: default !important;
                }
              
        

                .qM {
                    position: relative;
                    color: var(--dark-text);
                    animation: bounce 1.75s infinite;
                }
                    @keyframes bounce {
                        0% {
                            bottom: 0px;
                        }
                        50% {
                            bottom: 6px;
                        }
                        100% {
                            bottom: 0px;
                        }
                    }

                .whatDoYou {
                    color: var(--main-color);
                    margin-bottom: 1em !important;
                }

                .headerText h1 {
                    font-size: 3em;
                    margin: 0;
                }

                .headerText p {
                    margin: 0;
                    line-height: 1.7;
                }

                
    
    .ProjectList {
        grid-row: 2;
    }
    .footContainer {
        grid-row: 3;
    }


.mainContent {
    display: grid;
    place-items: center;
}



