


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* ! --- ! --- GRID --- ! --- ! */
.wrap {
    display: grid;
    grid-template-columns: 10% 35% 10% 35% 10% ;
    grid-template-rows: 300px 100px 350px 200px 600px 25px 600px 75px 150px;
    width: 100%;
    height: 100%;
}

header {
    grid-column: 1 / 6;
    grid-row: 1;
}

.mainText {
    grid-column: 2 / 5;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
}

.titleLinks {
    grid-column: 3;
    grid-row: 5;
}

.a {
    grid-column: 2;
    grid-row: 5; 
}

.b {
    grid-column: 4;
    grid-row: 5; 
}

.c {
    grid-column: 2;
    grid-row: 7; 
}

.d {
    grid-column: 4;
    grid-row: 7; 
}

footer {
    grid-column: 3 / 6;
    grid-row: 9;
}
/* ! --- ! --- GRID --- ! --- ! */


/* ========== MEDIA QS ========= */
@media only screen and  (max-width: 800px) {
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center; 
        align-content: space-around;
    }

    .mainText, .card, footer {
        margin: 40px 0px 0px 0px 
    }

    .projGif {
        width: 40%;
    }
    /* article > * {
        width: 100%;
        height: 100%;
    }
} */

/* ========== MEDIA QS ========= */


