


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* ! --- ! --- GRID --- ! --- ! */
.wrap {
    display: grid;
    grid-template-columns: 5% 42.5% 5% 42.5% 5% ;
    grid-template-rows: 600px 400px 800px 100px 800px 600px 300px;
    width: 100%;
    height: 100%;
}


header {
    grid-column: 1 / 6;
    grid-row: 1;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 200px 400px ;
    width: 100%;
    height: auto;
}
    /* HEADER SUB GRID */
    .titleLinks {
        grid-column: 3;
        grid-row: 1;
    }

    .mainText {
        grid-column: 2;
        grid-row: 2;
    }
    /* HEADER SUB GRID */

.a {
    grid-column: 2;
    grid-row: 3; 
}

.b {
    grid-column: 4;
    grid-row: 3; 
}

.c {
    grid-column: 2;
    grid-row: 5; 
}

.d {
    grid-column: 4;
    grid-row: 5; 
}

footer {
    grid-column: 1 / 6;
    grid-row: 7;
}
/* ! --- ! --- GRID --- ! --- ! */


/* ========== MEDIA QS ========= */
@media only screen and  (max-width: 800px) {
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center; 
        align-content: space-around;
    }

    .mainText, .card, footer {
        margin: 40px 0px 0px 0px 
    }

    .projGif {
        width: 40%;
    }
    /* article > * {
        width: 100%;
        height: 100%;
    }*/
} 

/* ========== MEDIA QS ========= */


