


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* ! --- ! --- GRID --- ! --- ! */
.wrap {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 350px 600px 150px;
    width: 100%;
    height: 100%;
}

header {
    grid-column: 1 / 4;
    grid-row: 1;
}

.mainText {
    grid-column: 1 / 3;
    grid-row: 2;
}

.titleLinks {
    grid-column: 3;
    grid-row: 2;
}

.a {
    grid-column: 1;
    grid-row: 3; 
}

.b {
    grid-column: 2;
    grid-row: 3; 
}

.c {
    grid-column: 3;
    grid-row: 3; 
}


footer {
    grid-column: 1 / 4;
    grid-row: 4;
}
/* ! --- ! --- GRID --- ! --- ! */





