/* I will be using grid hopefully it works with horizontal scrolling */
body {
    
}

article {
    display: grid;
    grid-gap: 1em;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "header header header header header"
    "leftBtn main main main rightBtn";
    grid-template-columns: 1fr 1fr 10fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* ---- HEADER ---- */
header { 
    grid-area: header;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header > p {
}

h1 {
}

h2 {
}

header > p {
}
/* ---- HEADER ---- */


/* ---- MAIN ---- */
main {
    grid-area: main;
    place-self: center;
    place-items: center;
}

/* ---- MAIN ---- */

/* ---- BUTTONS ---- */


/* ---- BUTTONS ---- */

/* ---- FOOTER ---- */
footer {
}
/* ---- FOOTER ---- */