
body {
    width: 100%;
    height: 100%;
    background-color: #69706d; 
}

.container {
    display: flex;
    flex-flow: row wrap;   
}

.container > * {
    padding: 40px;
    flex: 1 100%;
}

article {
    width: 100%;
    height: 70%;
    margin: 20px;
    background-color: #40e699;
    border-radius: 95px;
    box-shadow: 5px 5px 65px 70px rgb(49, 49, 49);
    overflow: hidden;
}

/* ---- HEADER ---- */
header {
    background-color: blue;
}
/* ---- HEADER ---- */


/* ---- INFO CARD---- */
.infoCard {
    background: linear-gradient(45deg, rgba(246, 236, 236, 0.4), rgba(255, 156, 156, 0.4));
    border-radius: 25px;
    border: .1px #fff solid;
    width: 40%;
    height: 80%;
    float: right;
    align-content: center;
    justify-items: center;
}

.infoCard > * {
    padding: 20px;
}
/* ---- INFO CARD ---- */


/* ---- VIEWMASTER ---- */
.viewMaster {
    width: 60%;
    height: auto;
    margin: 20px;
}
/* ---- VIEWMASTER ---- */


/* ---- CONTACTREEL ---- */
.reelDiv {
    position: relative;
}
.contactReel {
    position: absolute;
    width: 38%;
    bottom: -8em;
    right: -8em;
}
/* ---- CONTACTREEL ---- */


/* ---- MEDIA QUERIES ---- */

@media only screen and  (max-width: 1000px) {
    .contactReel {
        bottom: -7em;
        right: -7em;
    }
}

@media only screen and  (max-width: 800px) {
    .infoCard {
        width: 100%;
        height: 200px;
    }

    .contactReel {
        bottom: -6.5em;
        right: -6.5em;
    }
}

@media only screen and (max-width: 600px) {
    .contactReel {
        bottom: -4em;
        right: -4em;
    } 
}

@media only screen and (max-width: 500px) {
    .contactReel {
        position: unset;
        right: 0px;
        align-self: center;
    } 
}
/* ---- MEDIA QUERIES ---- */