
body {
    background-color: rgb(191, 255, 216); 
    height: 100vh;
    width: 100%;
}

article {
    display: flex;
    flex-flow: row wrap;
    margin: -20px;
    padding: 35px;
}

.intro,
.mainContent,
.infoSection {
    flex: 1 1 425px;
    margin: 20px;
}


/* ---- INTRO ---- */
.introContainer {
    display: flex;
    flex-direction: column;
}
/* ---- INTRO ---- */


/* ---- MAIN-CONTENT---- */
.mainContainer {
    display: flex;
    flex-direction: column;
}

img {
    width: 60%;
    height: auto;
    margin: 20px;
}
/* ---- MAIN-CONTENT ---- */


/* ---- INFO-SECTION---- */
.infoContainer {
    display: flex;
    flex-direction: column;
}
/* ---- INFO-SECTION ---- */


/* ---- MEDIA QUERIES ---- */

/* @media only screen and  (max-width: 1000px) {
    .contactReel {
        bottom: -7em;
        right: -7em;
    }
}

@media only screen and  (max-width: 800px) {
    .infoCard {
        width: 100%;
        height: 200px;
    }

    .contactReel {
        bottom: -6.5em;
        right: -6.5em;
    }
}

@media only screen and (max-width: 600px) {
    .contactReel {
        bottom: -4em;
        right: -4em;
    } 
}

@media only screen and (max-width: 500px) {
    .contactReel {
        position: unset;
        right: 0px;
        align-self: center;
    } 
} */
/* ---- MEDIA QUERIES ---- */